*.out
*.tmp
*.uvgui*.*
archive.zip

sources/Device/S8-53M.bin

sources/generated/*

sources/scripts/Keil/out.txt

sources/DLoader/Objects/*
sources/DLoader/Objects-Debug/*
sources/DLoader/Listings/*
sources/DLoader/Listings-Debug/*
sources/DLoader/DebugConfig/*

sources/Device/Objects/*
sources/Device/Objects-Debug/*
sources/Device/Listings/*
sources/Device/Listings-Debug/*
sources/Device/DebugConfig/*

sources/Panel/Objects/*
sources/Panel/Objects-Debug/*
sources/Panel/Listings/*
sources/Panel/Listings-Debug/*
sources/Panel/DebugConfig/*

sources/exp/RTC_Calendar/MDK-ARM/STM324x9I_EVAL/*
sources/exp/DAC_SignalsGeneration/MDK-ARM/STM32F429I-Discovery/*
sources/exp/FatFs_USBDisk/MDK-ARM/STM32F429I-DISCO/Exe/*
sources/exp/FatFS_2/MDK-ARM/STM32F429I-Discovery/*
sources/exp/TestLCD/Device/Objects/*
